In [1]:
import numpy as np
import pandas as pd
import seaborn as ans
from sklearn import svm
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
ty_data=pd.read_csv('E:/medical_diagnosis/thyroidDF.csv')

In [5]:
ty_data.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047

In [6]:
ty_data.tail()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
9167,56,M,f,f,f,f,f,f,f,f,...,64.0,t,0.83,t,77.0,f,NaN,SVI,-,870119022
9168,22,M,f,f,f,f,f,f,f,f,...,91.0,t,0.92,t,99.0,f,NaN,SVI,-,870119023
9169,69,M,f,f,f,f,f,f,f,f,...,113.0,t,1.27,t,89.0,f,NaN,SVI,I,870119025
9170,47,F,f,f,f,f,f,f,f,f,...,75.0,t,0.85,t,88.0,f,NaN,other,-,870119027
9171,31,M,f,f,f,f,f,f,f,t,...,66.0,t,1.02,t,65.0,f,NaN,other,-,870119035

In [8]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()

In [9]:
ty_data.info

<bound method DataFrame.info of       age sex on_thyroxine query_on_thyroxine on_antithyroid_meds sick  \
0      29   F            f                  f                   f    f
1      29   F            f                  f                   f    f
2      41   F            f                  f                   f    f
3      36   F            f                  f                   f    f
4      32   F            f                  f                   f    f
...   ...  ..          ...                ...                 ...  ...
9167   56   M            f                  f                   f    f
9168   22   M            f                  f                   f    f
9169   69   M            f                  f                   f    f
9170   47   F            f                  f                   f    f
9171   31   M            f                  f                   f    f

     pregnant thyroid_surgery I131_treatment query_hypothyroid  ...    TT4  \
0           f               f              f                 t  ...    NaN
1           f               f              f                 f  ...  128.0
2           f               f              f                 f  ...    NaN
3           f               f              f                 f  ...    NaN
4           f               f              f                 f  ...    NaN
...       ...             ...            ...               ...  ...    ...
9167        f               f              f                 f  ...   64.0
9168        f               f              f                 f  ...   91.0
9169        f               f              f                 f  ...  113.0
9170        f               f              f                 f  ...   75.0
9171        f               f              f                 t  ...   66.0

     T4U_measured   T4U FTI_measured   FTI TBG_measured   TBG  \
0               f   NaN            f   NaN            f   NaN
1               f   NaN            f   NaN            f   NaN
2               f   NaN            f   NaN            t  11.0
3               f   NaN            f   NaN            t  26.0
4               f   NaN            f   NaN            t  36.0
...           ...   ...          ...   ...          ...   ...
9167            t  0.83            t  77.0            f   NaN
9168            t  0.92            t  99.0            f   NaN
9169            t  1.27            t  89.0            f   NaN
9170            t  0.85            t  88.0            f   NaN
9171            t  1.02            t  65.0            f   NaN

      referral_source target  patient_id
0               other      -   840801013
1               other      -   840801014
2               other      -   840801042
3               other      -   840803046
4               other      S   840803047
...               ...    ...         ...
9167              SVI      -   870119022
9168              SVI      -   870119023
9169              SVI      I   870119025
9170            other      -   870119027
9171            other      -   870119035

[9172 rows x 31 columns]>

In [11]:
binary_cols = ['on_thyroxine', 'query_on_thyroxine', 'on_antithyroid_meds', 'sick',
               'pregnant', 'thyroid_surgery', 'I131_treatment', 'query_hypothyroid',
               'query_hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary',
               'psych', 'T4U_measured', 'FTI_measured', 'TBG_measured']

ty_data[binary_cols] = ty_data[binary_cols].replace({'t': 1, 'f': 0})

In [14]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
ty_data['sex'] = encoder.fit_transform(ty_data['sex'])

In [16]:
ty_data.drop(columns=['patient_id'], inplace=True)

In [17]:
print(ty_data.isnull().sum())

age                       0
sex                       0
on_thyroxine              0
query_on_thyroxine        0
on_antithyroid_meds       0
sick                      0
pregnant                  0
thyroid_surgery           0
I131_treatment            0
query_hypothyroid         0
query_hyperthyroid        0
lithium                   0
goitre                    0
tumor                     0
hypopituitary             0
psych                     0
TSH_measured              0
TSH                     842
T3_measured               0
T3                     2604
TT4_measured              0
TT4                     442
T4U_measured              0
T4U                     809
FTI_measured              0
FTI                     802
TBG_measured              0
TBG                    8823
referral_source           0
target                    0
dtype: int64

In [19]:
ty_data.fillna(ty_data.median(numeric_only=True), inplace=True)

In [20]:
print(ty_data.isnull().sum())

age                    0
sex                    0
on_thyroxine           0
query_on_thyroxine     0
on_antithyroid_meds    0
sick                   0
pregnant               0
thyroid_surgery        0
I131_treatment         0
query_hypothyroid      0
query_hyperthyroid     0
lithium                0
goitre                 0
tumor                  0
hypopituitary          0
psych                  0
TSH_measured           0
TSH                    0
T3_measured            0
T3                     0
TT4_measured           0
TT4                    0
T4U_measured           0
T4U                    0
FTI_measured           0
FTI                    0
TBG_measured           0
TBG                    0
referral_source        0
target                 0
dtype: int64

In [43]:
ty_data['target'].value_counts()

target
0     6771
19     436
13     359
2      346
11     233
31     196
3      147
21     115
23     111
26     110
1       85
15      49
4       46
18      30
5       21
25      16
30      14
27      14
7       12
20      11
14      10
17       8
8        8
12       6
6        6
29       5
24       2
22       1
16       1
28       1
9        1
10       1
Name: count, dtype: int64

In [44]:
x=ty_data.drop(columns=['target'],axis=1)
y=ty_data['target']

In [45]:
print(x)

      age  sex  on_thyroxine  query_on_thyroxine  on_antithyroid_meds  sick  \
0      29    0             0                   0                    0     0
1      29    0             0                   0                    0     0
2      41    0             0                   0                    0     0
3      36    0             0                   0                    0     0
4      32    0             0                   0                    0     0
...   ...  ...           ...                 ...                  ...   ...
9167   56    1             0                   0                    0     0
9168   22    1             0                   0                    0     0
9169   69    1             0                   0                    0     0
9170   47    0             0                   0                    0     0
9171   31    1             0                   0                    0     0

      pregnant  thyroid_surgery  I131_treatment  query_hypothyroid  ...   T4U  \
0            0                0               0                  1  ...  0.96
1            0                0               0                  0  ...  0.96
2            0                0               0                  0  ...  0.96
3            0                0               0                  0  ...  0.96
4            0                0               0                  0  ...  0.96
...        ...              ...             ...                ...  ...   ...
9167         0                0               0                  0  ...  0.83
9168         0                0               0                  0  ...  0.92
9169         0                0               0                  0  ...  1.27
9170         0                0               0                  0  ...  0.85
9171         0                0               0                  1  ...  1.02

      FTI_measured    FTI  TBG_measured   TBG  referral_source_SVHC  \
0                0  109.0             0  26.0                 False
1                0  109.0             0  26.0                 False
2                0  109.0             1  11.0                 False
3                0  109.0             1  26.0                 False
4                0  109.0             1  36.0                 False
...            ...    ...           ...   ...                   ...
9167             1   77.0             0  26.0                 False
9168             1   99.0             0  26.0                 False
9169             1   89.0             0  26.0                 False
9170             1   88.0             0  26.0                 False
9171             1   65.0             0  26.0                 False

      referral_source_SVHD  referral_source_SVI  referral_source_WEST  \
0                    False                False                 False
1                    False                False                 False
2                    False                False                 False
3                    False                False                 False
4                    False                False                 False
...                    ...                  ...                   ...
9167                 False                 True                 False
9168                 False                 True                 False
9169                 False                 True                 False
9170                 False                False                 False
9171                 False                False                 False

      referral_source_other
0                      True
1                      True
2                      True
3                      True
4                      True
...                     ...
9167                  False
9168                  False
9169                  False
9170                   True
9171                   True

[9172 rows x 33 columns]

In [46]:
print(y)

0       0
1       0
2       0
3       0
4       1
       ..
9167    0
9168    0
9169    2
9170    0
9171    0
Name: target, Length: 9172, dtype: int32

In [47]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [48]:
print(x.shape,x_train.shape,x_test.shape)

(9172, 33) (7337, 33) (1835, 33)

In [49]:
model=svm.SVC(kernel='linear')

In [50]:
model.fit(x_train,y_train)

SVC(kernel='linear')

In [30]:
print(ty_data.dtypes)

age                      int64
sex                      int32
on_thyroxine             int64
query_on_thyroxine       int64
on_antithyroid_meds      int64
sick                     int64
pregnant                 int64
thyroid_surgery          int64
I131_treatment           int64
query_hypothyroid        int64
query_hyperthyroid       int64
lithium                  int64
goitre                   int64
tumor                    int64
hypopituitary            int64
psych                    int64
TSH_measured            object
TSH                    float64
T3_measured             object
T3                     float64
TT4_measured            object
TT4                    float64
T4U_measured             int64
T4U                    float64
FTI_measured             int64
FTI                    float64
TBG_measured             int64
TBG                    float64
referral_source         object
target                  object
dtype: object

In [33]:
binary_cols = ['TSH_measured', 'T3_measured', 'TT4_measured']
ty_data[binary_cols] = ty_data[binary_cols].replace({'t': 1, 'f': 0})
ty_data[binary_cols] = ty_data[binary_cols].astype(int)  # Ensure they are integers

In [34]:
ty_data = pd.get_dummies(ty_data, columns=['referral_source'], drop_first=True)

In [36]:
print(ty_data.dtypes)

age                        int64
sex                        int32
on_thyroxine               int64
query_on_thyroxine         int64
on_antithyroid_meds        int64
sick                       int64
pregnant                   int64
thyroid_surgery            int64
I131_treatment             int64
query_hypothyroid          int64
query_hyperthyroid         int64
lithium                    int64
goitre                     int64
tumor                      int64
hypopituitary              int64
psych                      int64
TSH_measured               int32
TSH                      float64
T3_measured                int32
T3                       float64
TT4_measured               int32
TT4                      float64
T4U_measured               int64
T4U                      float64
FTI_measured               int64
FTI                      float64
TBG_measured               int64
TBG                      float64
target                    object
referral_source_SVHC        bool
referral_source_SVHD        bool
referral_source_SVI         bool
referral_source_WEST        bool
referral_source_other       bool
dtype: object

In [37]:
print(ty_data['target'].unique())

[0 1 'F' 'AK' 'R' 2 'M' 'N' 'G' 'K' 'A' 'KJ' 'L' 'MK' 'Q' 'J' 'C|I' 'O'
 'LJ' 'H|K' 'D' 'GK' 'MI' 'P' 'FK' 'B' 'GI' 'C' 'GKJ' 'OI' 'D|R' 'E']

In [38]:
print(ty_data['target'].dtype)

object

In [39]:
ty_data['target'] = ty_data['target'].astype(str)

In [40]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
ty_data['target'] = le.fit_transform(ty_data['target'])

In [42]:
print(ty_data.dtypes)

age                        int64
sex                        int32
on_thyroxine               int64
query_on_thyroxine         int64
on_antithyroid_meds        int64
sick                       int64
pregnant                   int64
thyroid_surgery            int64
I131_treatment             int64
query_hypothyroid          int64
query_hyperthyroid         int64
lithium                    int64
goitre                     int64
tumor                      int64
hypopituitary              int64
psych                      int64
TSH_measured               int32
TSH                      float64
T3_measured                int32
T3                       float64
TT4_measured               int32
TT4                      float64
T4U_measured               int64
T4U                      float64
FTI_measured               int64
FTI                      float64
TBG_measured               int64
TBG                      float64
target                     int32
referral_source_SVHC        bool
referral_source_SVHD        bool
referral_source_SVI         bool
referral_source_WEST        bool
referral_source_other       bool
dtype: object

In [51]:
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(y_train,x_train_prediction)

In [52]:
print('accuracy of training data:',training_data_accuracy)

accuracy of training data: 0.8943709963200218

In [53]:
x_test_prediction=model.predict(x_test)
test_data_accuracy=accuracy_score(y_test,x_test_prediction)

In [54]:
print('accuracy of test data:',test_data_accuracy)

accuracy of test data: 0.885558583106267

In [55]:
ty_data.info

<bound method DataFrame.info of       age  sex  on_thyroxine  query_on_thyroxine  on_antithyroid_meds  sick  \
0      29    0             0                   0                    0     0
1      29    0             0                   0                    0     0
2      41    0             0                   0                    0     0
3      36    0             0                   0                    0     0
4      32    0             0                   0                    0     0
...   ...  ...           ...                 ...                  ...   ...
9167   56    1             0                   0                    0     0
9168   22    1             0                   0                    0     0
9169   69    1             0                   0                    0     0
9170   47    0             0                   0                    0     0
9171   31    1             0                   0                    0     0

      pregnant  thyroid_surgery  I131_treatment  query_hypothyroid  ...  \
0            0                0               0                  1  ...
1            0                0               0                  0  ...
2            0                0               0                  0  ...
3            0                0               0                  0  ...
4            0                0               0                  0  ...
...        ...              ...             ...                ...  ...
9167         0                0               0                  0  ...
9168         0                0               0                  0  ...
9169         0                0               0                  0  ...
9170         0                0               0                  0  ...
9171         0                0               0                  1  ...

      FTI_measured    FTI  TBG_measured   TBG  target  referral_source_SVHC  \
0                0  109.0             0  26.0       0                 False
1                0  109.0             0  26.0       0                 False
2                0  109.0             1  11.0       0                 False
3                0  109.0             1  26.0       0                 False
4                0  109.0             1  36.0       1                 False
...            ...    ...           ...   ...     ...                   ...
9167             1   77.0             0  26.0       0                 False
9168             1   99.0             0  26.0       0                 False
9169             1   89.0             0  26.0       2                 False
9170             1   88.0             0  26.0       0                 False
9171             1   65.0             0  26.0       0                 False

      referral_source_SVHD  referral_source_SVI  referral_source_WEST  \
0                    False                False                 False
1                    False                False                 False
2                    False                False                 False
3                    False                False                 False
4                    False                False                 False
...                    ...                  ...                   ...
9167                 False                 True                 False
9168                 False                 True                 False
9169                 False                 True                 False
9170                 False                False                 False
9171                 False                False                 False

      referral_source_other
0                      True
1                      True
2                      True
3                      True
4                      True
...                     ...
9167                  False
9168                  False
9169                  False
9170                   True
9171                   True

[9172 rows x 34 columns]>

In [58]:
from sklearn.preprocessing import StandardScaler
import numpy as np

# Define input data for prediction (replace with actual values)
input_data = (
    57,  # age
    1,   # sex (0 = female, 1 = male)
    0,   # on_thyroxine
    0,   # query_on_thyroxine
    0,   # on_antithyroid_meds
    0,   # sick
    0,   # pregnant
    0,   # thyroid_surgery
    0,   # I131_treatment
    0,   # query_hypothyroid
    0,   # query_hyperthyroid
    0,   # lithium
    0,   # goitre
    0,   # tumor
    0,   # hypopituitary
    0,   # psych
    1,   # TSH_measured
    1.5, # TSH
    1,   # T3_measured
    2.1, # T3
    1,   # TT4_measured
    120, # TT4
    1,   # T4U_measured
    1.0, # T4U
    1,   # FTI_measured
    100, # FTI
    1,   # TBG_measured
    20.0,# TBG

    # One-hot encoded referral_source (choose one as 1, others as 0)
    0,   # referral_source_SVHC
    0,   # referral_source_SVHD
    1,   # referral_source_SVI (selected)
    0,   # referral_source_WEST
    0    # referral_source_other
)  # Original 13 features
               
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

# Make prediction
prediction = model.predict(input_data_reshaped)

# Print results
if prediction[0] == 0:
    print("The person does NOT have heart disease.")
else:
    print("The person HAS heart disease.")

The person does NOT have heart disease.

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [59]:
import pickle
filename='parkinsons_model_sav'
pickle.dump(model,open(filename,'wb'))

In [60]:
loaded_model=pickle.load(open(filename,'rb'))

In [61]:
for column in x_train.columns:
    print(column)

age
sex
on_thyroxine
query_on_thyroxine
on_antithyroid_meds
sick
pregnant
thyroid_surgery
I131_treatment
query_hypothyroid
query_hyperthyroid
lithium
goitre
tumor
hypopituitary
psych
TSH_measured
TSH
T3_measured
T3
TT4_measured
TT4
T4U_measured
T4U
FTI_measured
FTI
TBG_measured
TBG
referral_source_SVHC
referral_source_SVHD
referral_source_SVI
referral_source_WEST
referral_source_other